div#top{
	background-color:#5ccaed;
	margin-bottom:7%;
	box-shadow: 3px 1px 3px rgba(0,0,0,0.1);
}
div#title{
	color:#edf7f6;
	
}
span#s1{
	color:#a57257;
}
span#s2{
	color:#39414e;
}
small#small{
	color:#553624;
}
div#footer{
	color:#a1cdc5;
	font-weight: bold;
	font-family: "Quicksand";
	font-size: 20px;
	margin-top:10px;
	margin-bottom: 5px;
	text-decoration: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
a.a{
	color:#a1cdc5;
}
a.a:hover{
	text-decoration: none;
}
img#footer{
	width:25px;
	height:25px;
}
select#itype option{
	color:white;
	padding:2em;
}
option#t1{
	height:50px;
}
a.tag:hover{
	text-decoration: none;
}
button#tag{
	background-color:#5ccaed;
	border-radius: 25px;
	padding-left:10px;
	color:white;
	margin-bottom: 4px;
	overflow: visible;
}
span#badge{
	background-color:#ECECEC;
	color:#F62459;
	font-size:10px;
	float:right;
}
p#dquestion{
	word-wrap:brak-word;
}
button#distag{
	background-color:#5ccaed;	
	border-radius:25px;
	padding-left:10px;
	color:white;
	margin-bottom: 2px;
}
span#disbadge{
	background-color:#ECECEC;
	color:#F62459;
}
div#qdate{
	background-color:#5ccaed;
	color:white;
	border-radius:25px;
	vertical-align: center;
}
span#question{
	font-weight: bold;
}
span#question_body{
	font-style: italic;
}
