<div id="about" class="container">
	<h3>About Us</h3>
	<p>JooJ is an open-source, crowd-sourced platform dedicated to collect real world job interview questions that are being/were asked by IT employers.</p>
	<p>The process is very simple. We ask and encourage the students looking for job and giving interviews to take a few minutes and share some of the questions they were asked during their interviews. On the other hand, those who are still studying and\or preparing for job interviews can look up questions of their interest and study. </p>
	<p>Jooj makes it very easy to submit questions. </p>
	<ul>
		<li>Question <img src="../images/questions.jpg" alt="Jooj Questions"></li>
		<li>Tags</li>
			<ul>
				<li>To identify the questions later on. For example: <img src="../images/tags.jpg" alt="Jooj Tags"></li>
			</ul>
		<li>Interview Type</li>
			<ul>
				<li>To identify at which stage of the interview the question was asked. For example: <img src="../images/types.jpg" alt="Jooj Types"></li>
			</ul>
	</ul>
	<p>This is it!</p>
	<p>If anyone would like to contribute to the open-source project please let us know or checkout the project on: <code>https://github.com/amarbayar/jooj</code></p>
	<p>Our team didn't have prior web development experience. We used our knowledge and experience gained from our most recent class: Web Application Programming and made this website (with the help of some other open-source tools such as Bootstrap and jQuery plugins). Therefore, please accept our apology (in advance) if you find our design, code, structure...etc with flaws but we would appreciate it if you can share your advise and thoughts! </p>
	<p>Thanks and Happy Joojing!</p>
	<p><strong>Team JooJ /Adiya Bayansan, Amarbold Sodnomdorj, Amarbayar Amarsanaa/</strong></p>
</div>
<br><br>
