<div class="container">
	<h3>Contact Us</h3><br>
	<p>Have a question or a comment or a suggestion or would like to contribute to the open-source Jooj? You have come t the right place. We didn't want to spend time to setup a fancy "contact" form on this page since all you would need is an email address of us to contact and that email address is: <code>jooj.info@gmail.com</code>. </p>
	<p>Also check-out our project on: <code>https://github.com/amarbayar/jooj</code></p>
	<p>Last but not last, if you see us on campus or in class or in cafeteria - come and say Hi! :)</p>
</div>