<!DOCTYPE html>
		<br><br>
		<nav id="footer" class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div id="footer" class="container">
				<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<p><a class="a" href="../control/index.php"><img id="footer" src="../images/home.png" name="home" alt="home">&nbsp Home</a></p>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<p><a class="a" href="../control/about.php"><img id="footer" src="../images/about.png" name="about" alt="about">&nbspAbout JooJ</a></p>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<p><a class="a" href="../control/contact.php"><img id="footer" src="../images/contact.png" name="contact" alt="contact">&nbspContact</a></p>
					</div>
				</div>
		    </div>
		</nav>
		<script src="../js/jquery-2.1.1.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/bootstrap-tagsinput.js"></script>
		<script src="../js/jooj.js"></script>