<!DOCTYPE html>
<!--
	Originally written by Amarbayar. A 
	For project: JOOJ, a crowd-sourced platform for job interview questions.
-->
<html>
	<head>
		<title>JooJ</title>
		<meta charset="UTF-8">
		<link rel="icon" href="../favicon.ico" type="image/png" />
		<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../css/bootstrap-tagsinput.css">
	</head>
	<body id="body">
		<div id="top">
			<div class="container">
				<div id="title">
					<img src="../images/Header_taller_1.jpg">
				</div>
			</div>
		</div>
		
	
	</body>
</html>
