<form action="../control/submit_control.php" method="post">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<input id="question" class="form-control input-lg" type="text" placeholder="Please enter interview question here.." name="iquestion">
			</div>
		</div>
		<div class="row"><br>
			<div class="col-md-6">
				<input id="tags" type="text" class="form-control input-lg" data-role="tagsinput" placeholder="Tags separated by comma" name="tags" value="">
			</div>
			<div class="col-md-2">
				  <select class="form-control" name="itype">
					  <option value="phone">Phone</option>
					  <option value="skype">Skype</option>
					  <option value="technical">Technical</option>
					  <option value="onsite">Onsite</option>
				  </select>
			</div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-block btn-primary" name="submit"/>Submit</button>
			</div>
		</div>	
	</div>
</form>
<br><br>
<form id="tag_submit" action="../control/select_control.php" method="post">
	<div class="container">
	<?php
		$tags = array(
				"Microsoft"=>"200",
				"Google"=>"300",
				"Amazon"=>"30",
				"Algorithm"=>"99",
				"Onsite"=>"12",
				"Technical"=>"200",
				"Logical"=>"300",
				"Dsign Pattern"=>"30",
				"Singleton"=>"99",
				"Problem"=>"12",
				"Arithmetic"=>"200",
				"Technologies"=>"300",
				"RESTful"=>"30",
				".NET"=>"99",
				"Final Keyword"=>"12",
				"Java"=>"200",
				"JDBC"=>"300",
				"Spring"=>"30",
				"Hibernate"=>"99",
				"MVC"=>"12",
				"Phone"=>"100"
					
			);
		foreach($tags as $tag => $count){
	?>
						<button id="tag" class="btn" name="tag" value="<?=$tag?>"><?= $tag?>&nbsp<span id="badge" class="badge"><?= $count ?> </span> </button>
	<?php
		}
	?>
	</div>
</form>
