<form id="form" method="post" action="../control/submit_control.php">
	<div class="container">
		<div role="alert">
			<span id="alert"></span>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input id="question" class="form-control input-lg" type="text" placeholder="Please enter interview question here.." name="iquestion">
			</div>
		</div>
		<div class="row"><br>
			<div class="col-md-6">
				<input id="tags" type="text" class="form-control input-lg" data-role="tagsinput" placeholder="Tags separated by comma" name="tags" value="">
			</div>
			<div class="col-md-2">
				  <select class="form-control" name="itype">
					  <option value="phone">Phone</option>
					  <option value="skype">Skype</option>
					  <option value="technical">Technical</option>
					  <option value="onsite">Onsite</option>
				  </select>
			</div>
			<div class="col-md-4">
				<button id="submit" class="btn btn-block btn-primary"/>Submit</button>
			</div>
		</div>	
	</div>
</form>
<br><br>
<form id="tag_submit" action="../control/select_control.php" method="post">
	<div class="container">
	<?php
		foreach($tags_counted as $tags_c){
	?>
						<button id="tag" class="btn" name="tag" value="<?=$tags_c[0]?>"><?= $tags_c[0]?>&nbsp<span id="badge" class="badge"><?= $tags_c[1] ?> </span> </button>
	<?php
		}
	?>
	</div>
</form>
