<form id="tag_submit" action="../control/select_control.php" method="post">
<div class="container">
	<?php
		$v_question = "";
		$v_tags = "";
		$v_date = "";
		foreach($rows as $row){
			if($v_question == ""){
				$v_question = $row["question"];	
				$v_date = $row["added"];

				if($v_tags == "")
					$v_tags = $row["tag"];
				else
					$v_tags = $v_tags . "," . $row["tag"];
			}
			else if($v_question != $row["question"]){
	?>
				<div class="row">
					<div class="col-sm-10">
						<p id="dquestion"><span id="question">Question:</span> <span id="question_body"><?=$v_question?></span></p>
	<?php
						$each_tag = explode(",", $v_tags);
						foreach($each_tag as $t){
	?>
							<button id="distag" class="btn btn-xs" name="tag" value="<?=$t?>"><?= $t?></button>
	<?php
						}
	?>
					</div>
					<div id="qdate" class="col-sm-2">
						<?= $v_date?>
					</div>
				</div>
				<br>
	<?php
				$v_question = $row["question"];
				$v_date = $row["added"];
				$v_tags = "";
				if($v_tags == "")
					$v_tags = $row["tag"];
				else
					$v_tags = $v_tags . "," . $row["tag"];
			}
			else{
				$v_tags = $v_tags . "," . $row["tag"];
			}

		}
		if($v_question != ""){
			#Means we need to print the last question here. 
	?>
			<div class="row">
				<div class="col-sm-10">
					<p id="dquestion"><span id="question">Question:</span> <span id="question_body"><?=$v_question?></span></p>
	<?php
						$each_tag = explode(",", $v_tags);
						foreach($each_tag as $t){
	?>
							<button id="distag" class="btn btn-xs" name="tag" value="<?=$t?>"><?= $t?></button>
	<?php
						}
	?>
				</div>
				<div id="qdate" class="col-sm-2">
					<?= $v_date?>
				</div>
			</div>
	<?php
			}
	?>
</div><br><br>
</form>


